/* input number 했을때 우측 버튼 없에기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/** top element start*/
.search {
  width: 50%;
}

#name,
#number,
.search {
  border: 0px;
  border-bottom: 1px solid #db7093;
}

#name:focus,
#number:focus,
.search:focus {
  outline: none;
}

#saveNew {
  background-color: #ffe4e1;
  border: 0.5px solid #ffc0cb;
  color: plum;
}

#saveNew:hover {
  background-color: #ffc0cb;
  cursor: pointer;
}

/** top element end*/

/** list element start*/
.phoneListWrap {
  padding-top: 100px;
}

.phoneList {
  display: flex;
  align-items: center;
  width: 700px;
  background-color: EFF0F4;
  color: #aeb1b8;
  border: 1px solid #f5f5f5;
}

.phoneList:hover {
  background-color: #f5f5f5;
}

.phoneList div {
  margin-left: 20px;
}

.infoDiv {
  width: 500px;
}

.infoDiv div {
  overflow: hiddlen;
  white-space: nowrap;
}

.infoDiv .name {
  font-size: 20px;
}

.update {
  margin-right: 5px;
}

.phoneList input {
  margin-left: 30px;
  width: 50px;
  background-color: transparent;
  border: none;
  float: right;
}

.phoneList .deleteCheck {
  margin-left: 0px;
}

.toggleDelete,
.allDelete {
  background-color: #f5deb3;
  border: 0.5px solid #ffebcd;
  color: #f4af60;
  font-weight: bold;
}

.toggleDelete:hover,
.allDelete:hover {
  background-color: #ffc0cb;
  color: #ffe4e1;
  cursor: pointer;
}

/* 전화번호 없을때 */
.emptyList {
  margin-left: 10%;
  margin-top: 20%;
}

/* 전화번호 없을때 */
.emptyList p {
  font-size: 30px;
}

/* 수정위젯 */
/* .updatePhoneList {
  border: 1px solid #db7093;
  width: 700px;
  height: 53px;
  background-color: #ffe4e1;
  color: #db7093;
} */

.updatePhoneList {
  background-color: EFF0F4;
  color: #aeb1b8;
  border: 1px solid #f5f5f5;
  width: 700px;
  height: 53px;
}

.updatePhoneList div {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}
.updateWiget.div {
  margin-left: 25px;
}

.updateWiget.input {
  width: 150px;
}

.updateWiget.btn input {
  margin-left: 35px;
  width: 50px;
  background-color: transparent;
  border: 0px;
}

.updateWiget.btn.cancle input {
  margin-left: 5px;
  width: 50px;
  background-color: transparent;
  border: 0px;
}
/** list element end*/
